[Desktop Entry]

# The type of the thing this desktop file refers to (e.g. can be Link)
Type=Application

# The application name.
Name=QTea Media Player - PACKAGED

# Tooltip comment to show in menus.
#Comment=''

# The path (folder) in which the executable is run
Path=/opt/qtea-media-player

# The executable (can include arguments)
Exec=/opt/qtea-media-player/qtea-media-player

# The icon for the entry, using the name from `hicolor/96x96` without the extension.
# You can also use a full path to a file in /opt.
Icon=qtea-media-player
